body {
  margin-top: 100px;
  margin-left: 15px;
}
h1 {
    font-size: 30px;
    display: inline-block;
    color: gold;
    text-transform: uppercase;
    vertical-align: top;
    margin-top: 0px;
    font-family: Fantasy;
}
.logo {
  display: inline-block;
  width: 40px;
}
.header {
  padding-top: 15px;
  margin: 0px 0px 0px 0px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  border-bottom: ridge;
}
p {
  font-size: 20px;
}
.submit {
  background-color: darkcyan;
  width: 120px;
  height: 50px;
  color: white;
  font-size: 18px;
  margin: 50px auto 50px auto;
}
.solution {
  color: darkred;
  font-size: 27px;
}
.Appreciation {
  background-color: mediumpurple;
  color: wheat;
  font-family: Algerian, 'Times New Roman', Times, serif;
  font-size: 18px;
  padding: 20px 12px 20px 12px;
  margin: 20px 0px 15px 0px;
}
.within {
  text-decoration: none;
  color: darkred;
}
.list {
  line-height: 30px;
  font-size: 20px;
  font-family: fantasy;
}
.past {
  height: 50px;
  width: 150px;
  background-color: darkcyan;
  color: white;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 30px;
}
a {
 text-decoration: none;
}
a:hover {
 cursor: pointer;
}